*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
#headpart img{
    height: 150px;
}

#headpart{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(187, 162, 187, 0.274);
    position:relative;

}
#headpart nav ul{
    display:flex;
    list-style: none;
    gap:50px
}

#headpart nav ul li a{
    text-decoration: none;
    color: rgb(219, 51, 166);
    font-size: 20px;
    
}
#headpart nav ul li a:hover{
    color: rgb(221, 147, 10);
    font-size: 25px;
}

#headpart .icon{
    display: flex;
    gap:50px;
    
}

#headpart .call{
    display:flex;
    align-items: center;
    
}
#headpart .call button{
    display: flex;
    justify-content: center;
    align-item:center;
    width:200px;
    height:40px;
    border: 1px solid rgb(219, 51, 166);
    background-color: rgb(237, 101, 194); 
    border-radius: 20px;
}
#headpart .call button:hover{
    transform: scale(1.1);
    background-color:rgb(238, 184, 85); ;
    overflow: hidden;
}
#headpart .call button i{
    display: flex;
    align-items: center;

}
#headpart .call button p{
    display: flex;
    align-items: center;
}

/* head code ends here */
#first-page{
    width:100%;
    height:100vh;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(241, 171, 171),rgb(255, 192, 203),rgb(241, 203, 130),rgb(247, 247, 150));
    
}
#container{
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:200px
}
.heading-cont h1{
    font-size: 100px;
    font-family:cursive;
}
.heading-cont button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(246, 189, 83);


}
#container img{
    height: 80%;

}


