*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
/* head part starting here */
#headpart img{
    height: 150px;
}

#headpart{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(187, 162, 187, 0.274);
    position:relative;

}

/* create navigation bar */
#headpart nav ul{
    display:flex;
    list-style: none;
    gap:50px
}

#headpart nav ul li a{
    text-decoration: none;
    color: rgb(219, 51, 166);
    font-size: 20px;
    
}
#headpart nav ul li a:hover{
    color: rgb(221, 147, 10);
    font-size: 25px;
}

/* create a button */

#headpart .icon{
    display: flex;
    gap:50px;
    
}

#headpart .call{
    display:flex;
    align-items: center;
    
}
#headpart .call button{
    display: flex;
    justify-content: center;
    align-items:center;
    width:200px;
    height:40px;
    border: 1px solid rgb(219, 51, 166);
    background-color: rgb(237, 101, 194); 
    border-radius: 20px;
}
#headpart .call button:hover{
    transform: scale(1.1);
    background-color:rgb(238, 184, 85); ;
    overflow: hidden;
}
#headpart .call button i{
    display: flex;
    align-items: center;

}
#headpart .call button p{
    display: flex;
    align-items: center;
}

/* head part  ends here */

/* body part starting here */

/* start to create a first page */

#first-page{
    width:100%;
    height:100vh;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(241, 171, 171),rgb(255, 192, 203),rgb(241, 203, 130),rgb(247, 247, 150));
    
}
#container{
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:200px
}
.heading-cont h1{
    font-size: 100px;
    font-family:cursive;
}
.heading-cont button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(246, 189, 83);


}
.heading-cont button:hover{
    transform: scale(1.1);   
}
#container img{
    height:80%;
    position: relative;
    animation: mymove 2s ease-in infinite ;
}
@keyframes mymove {
    0%{top:10px;}
    25%{top:80px;}
    50%{top:40px;}
    75%{top:80px;}
    100%{top:0px;}

}

/* first page completed */

/* start to create a second page */

#second-page{
    width:100%;
    height:100vh;
    border: 1px solid black;
    background-color:rgba(187, 162, 187, 0.274);
}
#dance-image{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* div one of the second page */
.dance-image1{
    width:600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 40px;
    padding-left:20px ;
    display: flex;
    align-items: center;
    gap:20px;
    background-color: whitesmoke;
    position: relative;
    animation: mymove1 2s ease-in infinite ;
    
}
@keyframes mymove1{
    0%{left:0px;}
    25%{left:30px;}
    50%{left:60px;}
    75%{left:90px;}
    100%{left:120px;}
}

.dance-image1:hover{
    box-shadow: 10px 10px 10px rgb(183, 182, 182);
}
.image1{
    width:250px;
    height:250px;
    border: 1px solid black;
    border-radius: 30px;
    background: linear-gradient(to right,pink,skyblue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1 img{
    height: 250px;
}
.content1{
    width:250px;
    height:250px;
   border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    background-color: white;

}
.content1 img{
    height: 40px;
    width: 50px;
}
.content1 .para1{
    color: rgb(100, 99, 99);
}
.content1 .para2{
    font-size: 20px;
}

/* div two of the second page */
.dance-image2{
    width:600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 40px;
    padding-left:20px ;
    display: flex;
    align-items: center;
    gap:20px;
    background-color: whitesmoke;
    position: relative;
    animation:mymove2 2s ease-in infinite ;
}
@keyframes mymove2{
    0%{right:0px;}
    25%{right:30px;}
    50%{right:60px;}
    75%{right:90px;}
    100%{right:120px;}
}
.dance-image2:hover{
    box-shadow: 10px 10px 10px rgb(183, 182, 182);
}
.image2{
    width:250px;
    height:250px;
    border: 1px solid black;
    border-radius: 30px ;
    background:linear-gradient(to right,rgb(109, 239, 77),rgb(216, 123, 244));
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2 img{
    height: 250px;  
}
.content2{
    width:250px;
    height:250px;
   
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left:20px ;
    background-color: white;
}
.content2 img{
    height: 40px;
    width: 50px;
}
.content2 .para1{
    color: rgb(100, 99, 99);
}
.content2 .para2{
    font-size: 20px;
}

/*second page is completed   */

/* start to create a third page */
#third-page{
    width: 100%;
    height: 250vh;
    border: 1px solid black;
    padding-top:50px ;
    background-color:rgba(187, 162, 187, 0.274);
    

}
#container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.cont-image{
    width:750px;
    height:750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(244, 192, 226), rgb(231, 231, 172), rgb(187, 233, 187));
    margin-top: 50px;
    
    
}
.cont-image img{
    height: 700px;
}


.heading-cont2{
    width:600px;
    height: 550px;
    
    
}
.heading-cont2 h1{
    font-size: 150px;
    font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
    
}
#video-service{
    width:400px;
    height: 200px;
    border:1px solid black;
    display: flex;
    /* flex-direction: column; */
    margin-top: 100px;
    justify-content: center;
    align-items: center;

}
.video{
    width:500px;
    height: 300px;
    border: 5px solid green;
    border-radius: 20px;
}
.video iframe{
    width:500px;
    height: 300px;
    border-radius: 20px;

}

.services div{
    width:400px;
    height: 200px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.Services{
    display : flex;
    
}
#join{
    margin-left: 45%;
    background-color: whitesmoke;
}
#join h2{
    font-size: 30px;
}
#join p{
    font-size: 20px;
    color:rgb(100, 99, 99);
}

#choreography{
    margin-left: 50%;
    background-color:whitesmoke;
}
#choreography h2{
    font-size: 30px;
}
#choreography p{
    font-size: 20px;
    color:rgb(100, 99, 99);
}
#onstage{
    margin-left: 55%;
    background-color:whitesmoke;
}
#onstage h2{
    font-size: 30px;
}
#onstage p{
    font-size: 20px;
    color: rgb(100, 99, 99);
}
.services div h2{
    font-size: 25px;
}
/* third page ends here */

/* start to create fourth page */
#fourth-page{
    width: 100%;
    height: 120vh;
    border: 1px solid black;
    padding-top:50px ;
    background-color:rgba(187, 162, 187, 0.274);
    
}
.heading-cont3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-cont3 h1{
    font-size: 80px;
    font-family:cursive;
    padding: 40px;
}
#dance-festival{
    height:600px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.festival{
    height:400px;
    width:350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px ;
    border-radius: 20px;
    background-color: white;
}
.festival:hover{
    box-shadow: 10px 10px 20px  rgb(219, 181, 239);
}
.festival-image1{
    height:250px;
    width:300px; 
    background: linear-gradient(to right, rgb(77, 190, 77), rgb(205, 133, 237));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.festival-image1 img{
    height: 200;
    width:200px;
}
.festival-image2{ 
    height:250px;
    width:300px; 
    background: linear-gradient(to right, rgb(235, 118, 118), rgb(89, 206, 232));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.festival-image2 img{
    height: 160;
    width:140px;
}
.festival-image3{
    height:250px;
    width:300px; 
    background: linear-gradient(to right,rgb(77, 190, 77), rgb(205, 133, 237) );
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.festival-image3 img{
    height: 180;
    width:160px;
}
.festival-cont{
    height:100px;
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    gap:10px;
}
.festival-cont h4{
    font-size: 22px;
}
.location{
    display: flex;
    gap:10px;
    color: rgb(87, 87, 87);
}

/* fourth page ends here */

/* start to create fifth page */
#fifth-page{
    width: 100%;
    height: 120vh;
    border: 1px solid black;
    padding-top:50px ;
    background-color:rgba(187, 162, 187, 0.274);
    
}
#sign-up{
    width: 100%;
    height: 120vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;

}
.sign-up1{
    width:800px;
    height: 1000px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.sign-up1 h1{
    font-size: 100px;
    font-family:cursive;
    padding: 40px;
}
.sign-up1 img{
    height: 300px;
}
.sign-up2{
    width:800px;
    height: 1000px;
    
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}
.sign-up2-para{
    height: 200px;
    width: 400px;
    line-height: 30px;
}
.sign-up2-para p{
    font-size: 20px;
    text-align: justify;
    color: rgb(87, 85, 85);
}
.sign-up2 ul{
    font-size: 25px;
}
.sign-up2 button{
    height: 50px;
    width: 200px;
    font-size: 22px;
    border-radius: 15px;
    background-color: rgb(232, 155, 21);
}
.sign-up2 button:hover{
    transform: scale(1.1);

}

/* fifth page complted here */

/* start to create sixth page  */

#sixth-page{
    width:100%;
    height:150vh;
    border: 1px solid black;
    background-color:rgba(187, 162, 187, 0.274);
    padding-top: 50px;
}
#heading-cont4 h1{
    font-size: 100px;
    font-family:cursive;
    text-align: center;
}
#best-instructor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 100px;
    padding-top: 100px;
}
.Instructor{
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Instructor2{
   margin-top: 150px;
}
#Instructor4{
    margin-top: 150px;
}
.Instructor-image{
    width: 350px;
    height: 300px;
    border-radius: 40px;
}
 .Instructor-image img{
    width: 350px;
    height: 300px;
    border-radius: 40px;
}
.Instructor-name{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.Instructor-name h3{
    font-size: 20px;
}
.Instructor-name p{
    color: rgb(81, 80, 80);
}

/* sixth page completed here */

/* start to create footer */
#footer{
    width:100%;
    height:60vh;
     background-color: rgb(216, 121, 186);
    border: 1px solid black;
}
#footer-container1{
    width: 100%;
    height:40vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap:200px;
    line-height: 40px;
}
.content-last h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.content-last p{
    color:rgb(80, 79, 79);
}
.para-last{
    color: linear-gradient(to right,blue,green,yellow,pink);
}
.content h3{
    font-size: 25px;
}
.content p{
    color:rgb(80, 79, 79);
}
#footer-container2{
    width:100%;
    height:20vh;
    display: flex;
    padding-left: 300px;
    display: flex;
    align-items: center;
    gap:30px
    
}
#footer-container2 i{
    font-size: 50px;
}
.icon1{
    color:rgb(158, 35, 35);
}
.icon2{
    color:rgb(214, 31, 156)
}
.icon3{
    color:rgb(19, 124, 245)
}
.icon4{
    color:blue
}
.icon5{
    color: rgb(3, 161, 3);
}

/* footer page completed */

/* website completed */

/* start to apply media query  */




